@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background-color: rgb(75, 85, 99, 0.2);
  border-radius: 100vw;
}

body::-webkit-scrollbar-thumb {
  background: rgba(255, 184, 1);
  border-radius: 100vw;
}
/* 
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background: rgba(255, 184, 0.6);
} */

.mySwiper {
  --swiper-navigation-size: 32px;
  --swiper-navigation-top-offset: 40%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: #ffb800;
  position: relative;
}

@media (min-width: 1024) {
  .mySwiper {
    --swiper-navigation-size: 32px;
  }
}

@media (min-width: 768) {
  .mySwiper {
    --swiper-navigation-size: 24px;
  }
}
@media (min-width: 200) {
  .mySwiper {
    --swiper-navigation-size: 10px;
  }
}

.mySwiper {
  --swiper-pagination-color: #ffb800;
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: 8px;
  --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
  --swiper-pagination-progressbar-size: 4px;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}

.mySwiperVertical .swiper-pagination::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translate(-50%, -50%);
  height: 140%; /* Set the height of the line */
  width: 3px; /* Set the width of the line */
  background-color: #d9d9d9; /* Set the color of the line */
  z-index: -1;
}

.mySwiperVertical .swiper-pagination {
  left: 0;
  /* margin-right: 220px; */
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-color: #ffb800;
  --swiper-pagination-bullet-size: 16px;
  --swiper-pagination-bullet-width: 16px;
  --swiper-pagination-bullet-height: 16px;
  --swiper-pagination-bullet-vertical-gap: 24px;
}
/* 
@media (min-width: 1024) {
  .mySwiperVertical .swiper-pagination {
    left: 0;
    margin-right: 220px;
    --swiper-pagination-bullet-inactive-color: #fff;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-color: #ffb800;
    --swiper-pagination-bullet-size: 16px;
    --swiper-pagination-bullet-width: 16px;
    --swiper-pagination-bullet-height: 16px;
    --swiper-pagination-bullet-vertical-gap: 24px;
  }
} */

/* @media (min-width: 768) {
  .mySwiperVertical .swiper-pagination {
    margin-right: 0px;
  }
}
@media (min-width: 200) {
  .mySwiperVertical .swiper-pagination {
    margin-right: 0px;
  }
} */

.mySwiperVertical .swiper-pagination-bullet {
  border: 2px solid #ffb800; /* Set bullet border color */
}
